*.DS_Store

.Trashes
*.swp
*~.nib

DerivedData/

build/
test_output/

*.pbxuser

*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

.xccheckout
xcuserdata/
*.moved-aside

*.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/abrown252.xcuserdatad/xcschemes/xcschememanagement.plist
